<%- include('partials/header') -%>
    <div class="container-fluid">
      <div class="container text-center my-4">
        <h1>Your Journal</h1>
      </div>
      <table class="table table-striped table-responsive table-sm">
        <thead class="table-light">
          <tr>
            <th scope="col">Poster</th>
            <th scope="col">Title</th>
            <th scope="col">Date Watched</th>
            <th scope="col">Rating</th>
            <th scope="col">Comments</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              <% for(let i=0, modal='modal'; i < journal.length; i++) {%>
              <tr>
                <td class="align-middle"><a href="/post/details/<%= journal[i].movieId%>"><img src="<%= journal[i].image%>" alt="movie poster"></a></td>
                <td class="align-middle"><%= journal[i].title%></td>
                <td class="align-middle"><%= journal[i].dateWatched%></td>

                <% if (journal[i].rating <= 3) { %>
                <td class="align-middle" style="color: red"><%= journal[i].rating%></td>


                <% } else if (journal[i].rating > 3 && journal[i].rating <= 7) { %>
                <td class="align-middle" style="color: black"><%= journal[i].rating%></td>

                <% } else { %>
                <td class="align-middle" style="color: green"><%= journal[i].rating%></td>
                <% } %>

                <td class="align-middle text-truncate" style="max-width: 150px"><%= journal[i].comments%></td>
                <td class="align-middle">
                  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%= modal + i%>">
                    Edit Journal Entry
                  </a>
                  <form action="/post/deleteFromJournal/<%= journal[i]._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger mt-2">Delete</button>
                  </form>
                </td>
              </tr>

              <div class="modal fade" id="<%= modal + i%>" tabindex="-1" aria-labelledby="<%= modal + i%>Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= journal[i].title%></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <form action="/post/editJournal/<%= journal[i]._id%>?_method=PUT" method="POST">
                        <div class="mb-3">
                          <label for="dateWatched" class="col-form-label">Date watched:</label>
                          <input name="dateWatched" type="date" class="form-control" id="dateWatched" value="<%= journal[i].dateWatched%>">
                        </div>
                        <div class="mb-3">
                          <label for="rating" class="col-form-label">Rating:</label>
                          <select name="rating" class="form-control" id="rating" value="<%= journal[i].rating%>>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">5</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="comments" class="col-form-label">Comments:</label>
                          <textarea name="comments" class="form-control" id="comments"><%= journal[i].comments%></textarea>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name='movieId' value="<%= journal[i].movieId%>">Save Changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } %>
          </tbody>
      </table>
    </div>


    <!-- If needed, to add background image -->

    <!-- <div class="container-fluid bg-image" style="
    background-image: url('/imgs/background.jpg');
    height: 100vh;
    "> -->

<%- include('partials/footer') -%>