<%- include('partials/header') -%>
  <!-- <div class="container-fluid">
    <div class="row justify-content-evenly mt-5 gy-5"> -->
      <table class="table caption-top">
        <caption>Journal</caption>
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Date Watched</th>
            <th scope="col">Rating</th>
            <th scope="col">Comments</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              <% for(let i=0, modal='modal'; i < journal.length; i++) {%>
              <tr>
                <td><img src="<%= journal[i].image%>" alt="movie poster"></td>
                <td><%= journal[i].title%></td>
                <td><%= journal[i].dateWatched%></td>

                <% if (journal[i].rating <= 3) { %>
                <td style="color: red"><%= journal[i].rating%></td>


                <% } else if (journal[i].rating > 3 && journal[i].rating <= 7) { %>
                <td style="color: rgb(250, 234, 4)"><%= journal[i].rating%></td>

                <% } else { %>
                <td style="color: green"><%= journal[i].rating%></td>
                <% } %>

                <td class="text-truncate" style="max-width: 150px"><%= journal[i].comments%></td>
                <td>
                  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%= modal + i%>">
                    Edit Journal Entry
                  </a>
                </td>
              </tr>

              <div class="modal fade" id="<%= modal + i%>" tabindex="-1" aria-labelledby="<%= modal + i%>Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= journal[i].title%></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <form action="/post/editJournal/<%= journal[i]._id%>?_method=PUT" method="POST">
                        <div class="mb-3">
                          <label for="dateWatched" class="col-form-label">Date watched:</label>
                          <input name="dateWatched" type="date" class="form-control" id="dateWatched">
                        </div>
                        <div class="mb-3">
                          <label for="rating" class="col-form-label">Rating:</label>
                          <input name="rating" type="number" class="form-control" id="rating" min="0" max="10"></input>
                        </div>
                        <div class="mb-3">
                          <label for="comments" class="col-form-label">Comments:</label>
                          <textarea name="comments" class="form-control" id="comments"></textarea>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name='movieId' value="<%= journal[i].movieId%>">Save Changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } %>
          </tbody>
      </table>
    <!-- </div>
  </div>   -->
<%- include('partials/footer') -%>