<%- include('partials/header') -%>
<div class="container-fluid bg-image" style="
background-image: url('/imgs/background.jpg');
height: 100vh;
">
  <div class="row justify-content-center my-4">
      <div class="col-6 my-5">
          <div class="container text-center mb-5">
              <h1 class="display-2">Welcome <%= user.userName %>!</h1>
          </div>
        <div class="row justify-content-center mt-5">
          <form class="needs-validation" action="/search" method="POST">
            <label for="search" class="form-label">Search Movies!</label>
            <input type="search" class="form-control" id="search" name="search" placeholder="Enter movie name" required>
            <span></span><button type="submit" class="btn btn-primary mt-2">Search</button>
          </form>
        </div>  
      </div>  
    </div>

    <div class="row text-center">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img srcset="https://image.tmdb.org/t/p/w185<%= trending[0].poster_path%> 192w, https://image.tmdb.org/t/p/w342<%= trending[0].poster_path%> 512w"   sizes="(max-width: 750px) 192px,
            512px" alt="trending movie poster">
          </div>
        </div>
        <% for(let i=1; i < trending.length; i++) {%>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img srcset="https://image.tmdb.org/t/p/w185<%= trending[i].poster_path%> 192w, https://image.tmdb.org/t/p/w342<%= trending[i].poster_path%> 512w"   sizes="(max-width: 750px) 192px,
            512px" alt="trending movie poster">
          </div>
        </div>
        <% } %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    </div>

</div>
<%- include('partials/footer') -%>