<%- include('partials/header') -%>
  <!-- <div class="container-fluid">
    <div class="row justify-content-evenly mt-5 gy-5"> -->
      <table class="table caption-top">
        <caption>Watchlist</caption>
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Date Added</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              <% for(let i = 0, modal = 'modal'; i < watchlist.length; i++) {%>
              <tr>
                <td><img src="<%= watchlist[i].image%>" alt="movie poster"></td>
                <td><%= watchlist[i].title%></td>
                <td><%= watchlist[i].dateAdded%></td>
                <td>
                  <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%= modal + i%>">
                    Add to Journal
                  </a>
                  <form action="/post/deleteFromWatchList/<%= watchlist[i]._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary">Delete</button>
                  </form>
                </td>
              </tr>
              <div class="modal fade" id="<%= modal + i%>" tabindex="-1" aria-labelledby="<%= modal + i%>Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= watchlist[i].title%></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/post/addToJournal" method="POST">
                        <div class="mb-3">
                          <label for="dateWatched" class="col-form-label">Date watched:</label>
                          <input name="dateWatched" type="date" class="form-control" id="dateWatched">
                        </div>
                        <div class="mb-3">
                          <label for="rating" class="col-form-label">Rating:</label>
                          <input name="rating" type="number" class="form-control" id="rating" min="0" max="10"></input>
                        </div>
                        <div class="mb-3">
                          <label for="comments" class="col-form-label">Comments:</label>
                          <textarea name="comments" class="form-control" id="comments"></textarea>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name='movieId' value="<%= watchlist[i].movieId%>">Add to Journal</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } %>
          </tbody>
      </table>
    <!-- </div>
  </div>   -->
<%- include('partials/footer') -%>