<%- include('partials/header') -%>

    <div class="container-fluid">
      <div class="container text-center my-3">
        <h1>Your Watchlist</h1>
      </div>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Date Added</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              <% for(let i = 0, modal = 'modal'; i < watchlist.length; i++) {%>
              <tr>
                <td class="align-middle"><a href="/post/details/<%= watchlist[i].movieId%>"><img src="<%= watchlist[i].image%>" alt="movie poster"></a></td>
                <td class="align-middle"><%= watchlist[i].title%></td>
                <td class="align-middle"><%= watchlist[i].dateAdded%></td>
                <td class="align-middle">
                  <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%= modal + i%>">
                    Add to Journal
                  </a>
                  <form action="/post/deleteFromWatchList/<%= watchlist[i]._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger mt-2">Delete</button>
                  </form>
                </td>
              </tr>
              
              <div class="modal fade" id="<%= modal + i%>" tabindex="-1" aria-labelledby="<%= modal + i%>Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= watchlist[i].title%></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/post/addToJournal" method="POST">
                        <div class="mb-3">
                          <label for="dateWatched" class="col-form-label">Date watched:</label>
                          <input name="dateWatched" type="date" class="form-control" id="dateWatched">
                        </div>
                        <div class="mb-3">
                          <label for="rating" class="col-form-label">Rating:</label>
                          <select name="rating" class="form-control" id="rating" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">5</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="comments" class="col-form-label">Comments:</label>
                          <textarea name="comments" class="form-control" id="comments"></textarea>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name='movieId' value="<%= watchlist[i].movieId%>">Add to Journal</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } %>
          </tbody>
      </table>
    </div>

<%- include('partials/footer') -%>